<section class="sidebar-area">
    <div class="logo bg-white text-3xl px-8 py-2">
        <p>Golds</p>
    </div>
    <hr>
    <div class="ng-scroll-content">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <ul>
                    @for (menu of sidebarMenus(); track $index) {
                    <li>
                        <div class="d-flex cursor-pointer" (click)="toggleSubMenu(menu)"
                            [routerLink]="!menu?.children ? menu?.route : null">

                            <span class="me-1">

                                <img [src]="'./../../../../assets/icons/custom/'+ menu?.icon" alt="">
                            </span>
                            <span>
                                {{menu?.title}}
                            </span>
                        </div>
                        @if(menu?.children && menu?.expanded){
                        <div [@expandCollapse]="menu?.expanded ? 'expanded' : 'collapsed'" class="sub-menus">
                            <ul>
                                @for (sub of menu.children; track $index) {
                                <li [routerLink]="sub?.route" class="cursor-pointer">
                                    <span class="dot"></span>
                                    <span class="menu-text">{{sub?.title}}</span>
                                </li>
                                }

                            </ul>
                        </div>
                        }
                    </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</section>